<div class="well hoverwell" ng-click="loadSnippet()">
    <div class="row"><h2 class="col-md-6">{{snippet.Title}}</h2></div>
    <div class="row"><span class="col-md-1">Author:</span> <span>{{snippet.name}}</span></div>
    <div class="row"><span class="col-md-1">Description:</span><span>{{snippet.description}}</span></div>
    <div class="row"><span class="col-md-1">language:</span> <span>{{snippet.language}}</span></div>
    <div class="row"><span class="col-md-1">Code:</span><span>{{snippet.code}}</span></div>
</div>